  <section id="Boardimg">

      <div class="footer">
        <button type="button" id="bugs" class="btn btn-lg btn-outline-warning play">Report Bugs</button>
        <script type="text/javascript">$("#bugs").on('click', ()=>{
         window.location = "/bugs"
        });</script>
        <p><a href="/credits">Credits |</a>
          <a href="/devtalk">Talk to The Developers |</a>
          <a href="/suggestions">Give Suggestions |</a>
          <a href="/blog">Visit Our Blog |</a>
          <a href="/advertise">Advertise Here </a>
        </p>

      </div>
  </section>