<!DOCTYPE html>
<html>
<head>
	<title>Logo Demo</title>
	<style type="text/css">
		@font-face{
			font-family : kabel;
			src:url(/resources/fonts/kabel-heavy.ttf);
			font-weight: bold;
		}
		div{
			font-family: kabel;
		}
	</style>
</head>
<body>
	<div>DUOPOLY</div>

</body>
</html>