<section id="title">
    <div class="container-fluid">
      <nav class="navbar  navbar-expand-lg navbar-light">
        <p class="maker">
          <a class="navbar-brand" href="/">Duopoly</a>
          <span id="names">By Tanay and Yatee</span>
        </p>
        <span id="">
        <button class="navbar-toggler hamButton" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>
        </span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" id="">
            <li class="nav-item">
              <a type="button" href="/play-a-game" class="top btn btn-warning play">Play Now!</a>
            </li></span>
            <li class="nav-item">
              <a type="button"  class="top btn btn-dark play">Invite Friends</a>
            </li>
        </div>
        
  </section>