<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js" integrity="sha512-J7UHpLx39bpqtP+aWP6yIuXroFk0XPkDQaS9zDthM4TVeaXstWYh556gxsXwwIwpAPSoKqVHW+eqz3B93SpyKg==" crossorigin="anonymous"></script>
    <script>
    //Create a Pixi Application
    //Create a Pixi Application
    let app = new PIXI.Application({
        width: 256,
        height: 256,
        antialias: true,
        transparent: false,
        resolution: 1
      }
    );

    //Add the canvas that Pixi automatically created for you to the HTML document
    document.body.appendChild(app.view);

    //load an image and run the `setup` function when it's done
    PIXI.loader
      .add("/resources/assets/pieces/piece_boot.png")
      .load(setup);

    //This `setup` function will run when the image has loaded
    function setup() {

      //Create the cat sprite
      let cat = new PIXI.Sprite(PIXI.loader.resources["/resources/assets/pieces/piece_boot.png"].texture);

      //Add the cat to the stage
      app.stage.addChild(cat);
    }
    </script>
  </body>
</html>
