body {
  background-color: #85ef47;
  font-family: 'Quicksand', sans-serif;
}

p {
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #00bd56;
}

#title {
  background-color: #00bd56;
  color: #fff;
  position: fixed;
  width: 100%;
  padding-bottom: 0;
  z-index: 9;
}

.top {
  margin: 5px;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
}

.maker {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
}

.buildings {
  text-align: center;
}

#heading {
  padding-top: 150px;
  text-align: center;
}

.heading-text {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}

.play {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
  text-align: center;
}

#features {
  padding: 5% 5%;
  background-color: #85ef47;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4%
}

.fas {
  color: #00bd56;
}
@keyframes examplee{
  from{}
  to{color:white}
}
.fas:hover {
  animation: examplee;
  animation-duration: 1s;
}

.footer {
  padding: 3% 2%;
  background-color: #a8ff3e;
  color: #fff;
  text-align: center;
  width: 100%;
}
