body {
  background-color: #85ef47;
    font-family: 'Quicksand', sans-serif;
}


#title {
  background-color: #00bd56;
  color: #fff;
  position: fixed;
  width: 100%;
  padding-bottom: 0;
}

.top{
  margin: 5px;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
}

.maker {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  margin-bottom:0;
}

.buildings{
  text-align: center;
}

#heading {
  padding-top: 150px;
  text-align: center;
}

.heading-text {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}

.play {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
}


.carousel-item{
  padding:7% 15%;
  text-align: center;
}


.footer{
  text-align:center;
  background-color: #9cf196;
  padding: 1% 2%;
  font-size: 1.05rem;
}
